.container h1 {
    color: #616161;
    font-size: 31px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-left: 275px;
    margin-right: 0px;
    margin-top: 80px;
    float: left;
}

.main_2 {
    background-color: #F9F9F9;
    overflow: hidden;
    border-bottom-color: rgb(218, 218, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.main_2 a {
    margin: 0 12px 34px;
}

.main_2 p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.m_2_content {
    width: 600px;
    margin: 0 auto;
}

.s_head, .s_main, .s_footer, .s_content {
    width: 800px;
    border: 3px solid;
}

.s_content {
    width: 806px;
    margin: 34px auto;
    border-color: #6DC4AC;
}

.s_content p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    padding: 0 2px;;
}

.s_head {
    height: 50px;
    margin: 0;
    border-color: #D44378;
    position: relative;
}

.s_main {
    height: 200px;
    margin: 0;
    border-color: rgb(253, 199, 47);
    position: relative;
}

.s_footer {
    height: 50px;
    margin: 0;
    border-color: #7FD4F9;
    position: relative;
}

.d_left, .d_right, .d_content {
    border: 3px solid;
}

.d_content {
    width: 800px;
    height: 306px;
    margin: 34px auto;
    border-color: #6DC4AC;
}

.d_content p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    padding: 0 2px;
}

.d_content .d_left {
    width: 20%;
    height: 300px;
    border-color: #D44378;
    position: relative;
    float: left;
}

.d_content .d_right {
    width: 78.5%;
    height: 300px;
    border-color: rgb(253, 199, 47);
    position: relative;
    float: right;
}

.t_left, .t_main, .t_right, .t_content {
    border: 3px solid;
}

.t_content {
    width: 800px;
    height: 306px;
    margin: 34px auto;
    border-color: #6DC4AC;
    position: relative;
}

.t_content p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    padding: 0 2px;
}

.t_left {
    width: 19.25%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    border-color: #D44378;
}

.t_main {
    height: 300px;
    margin: 0 20%;
    border-color: #7FD4F9;
    position: relative;
}

.t_right {
    height: 300px;
    width: 19.25%;
    position: absolute;
    top: 0;
    right: 0;
    border-color: rgb(253, 199, 47);
}

.m_content, .m_head, .m_main, .m_left, .m_right, .m_footer {
    border: 3px solid;
}

.m_content {
    width: 61.8%;
    height: 438px;
    margin: 34px auto;
    border-color: #6DC4AC;
}

.m_content p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    padding: 0 2px;
}

.m_head {
    height: 60px;
    border-color: #D44378;
    position: relative;
}

.m_left {
    width: 20%;
    height: 300px;
    border-color: rgb(253, 199, 47);
    float: left;
    position: relative;
}

.m_right {
    width: 20%;
    height: 300px;
    float: right;
    border-color: rgb(253, 199, 47);
    position: relative;
}

.m_main {
    margin: 0 20.75%;
    height: 300px;
    border-color: #7FD4F9;
    position: relative;
}

.m_footer {
    height: 60px;
    border-color: #D44378;
    clear: both;
    position: relative;
}

@media screen and (max-width: 599px) {
    .container h1 {
        margin-left: 0px;
        margin-top: 85px;
        float: left;
    }
}